{% if theem=='dark' %}
{% extends 'base_dark.html' %}
{% else %}
{% extends 'base_light.html' %}
{% endif %}
{% block tit %}<title>{{tit}}</title>{% endblock %}
{% block content %}
<table>
    <tr>
        <td>
            <ri>
            <img
            src="static/photo.webp"
            title="~~~~~~~~~~~~!"
            alt="тут должно быть фото ~~~~~~~~~~~, но видимо его не завезли...🤷‍♂️"
            width="200"
            height="200">
            </ri>
        </td>
        <td>
            <table>
                <caption><h3><ri>Немного контактной информации</h3></caption>
                <tr>
                    <td><b><h4><ri>Телефон:</ri></h4></b></td>
                    <td><b><h5><ri>~~~~~~~~~~</ri></h5></b></td>
                </tr>
                <tr>
                    <td><b><h4><ri>Ник в тг:</ri></h4></b></td>
                    <td><b><h5><ri>~~~~~~~~~~</ri></h5></b></td>
                </tr>
                <tr>
                    <td><b><h4><ri>Почта:</ri></h4></b></td>
                    <td><b><h5><ri>~~~~~~~~~~</ri></h5></b></td>
                </tr>
            </table>
{% endblock %}