{% if theem=='dark' %}
{% extends 'base_dark.html' %}
{% else %}
{% extends 'base_light.html' %}
{% endif %}
{% block tit %}<title>{{tit}}</title>{% endblock %}
{% block content %}
<table>
    <tr>
        <td>
            <img
            src="static/moon1.webp"
            title="Евгения Владимировна!"
            alt="тут должно быть фото Евгении владимировны, но видимо его не завезли...🤷‍♂️"
            width="200"
            height="200">
        </td>
        <td>
            <table>
                <caption><h2>Немного контактной информации</h2></caption>
                <tr>
                    <td><b><h3>Телефон:</h3></b></td>
                    <td><b><h4>89263324341</h4></b></td>
                </tr>
                <tr>
                    <td><b><h3>Ник в тг:</h3></b></td>
                    <td><b><h4>@zavrik228</h4></b></td>
                </tr>
                <tr>
                    <td><b><h3>Почта: {{had_name}}</h3></b></td>
                    <td><b><h4>zavrik228.com@gmail.com</h4></b></td>
                </tr>
            </table>
{% endblock %}